# Data Preprocessing

The following is a step by step procedure to extract, transform, and load the data into a format ready for model training

### 1. Import libraries and load datasets.

In [4]:
import pandas as pd
import numpy as np
import csv

In [16]:
# Load messages dataset and inspect it
messages = pd.read_csv('../data/disaster_messages.csv', quoting=csv.QUOTE_ALL)
messages.head()

   id  ...   genre
0   2  ...  direct
1   7  ...  direct
2   8  ...  direct
3   9  ...  direct
4  12  ...  direct

[5 rows x 4 columns]

In [18]:
# Load categories dataset and inspect it
categories = pd.read_csv('../data/message_categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the primary key (ID)
- Assign this combined dataset to a new dataframe, which will be cleaned in the following steps

In [19]:
# Merge datasets using ID
preprocessed_dataset = messages.merge(categories, left_on='id', right_on='id')
preprocessed_dataset.head()

   id  ...                                         categories
0   2  ...  related-1;request-0;offer-0;aid_related-0;medi...
1   7  ...  related-1;request-0;offer-0;aid_related-1;medi...
2   8  ...  related-1;request-0;offer-0;aid_related-0;medi...
3   9  ...  related-1;request-1;offer-0;aid_related-1;medi...
4  12  ...  related-1;request-0;offer-0;aid_related-0;medi...

[5 rows x 5 columns]

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [20]:
# Create a dataframe of the 36 individual category columns
categories = preprocessed_dataset['categories'].str.split(pat=';', expand=True)
categories.head()

          0          1        2   ...      33               34               35
0  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
1  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
2  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
3  related-1  request-1  offer-0  ...  cold-0  other_weather-0  direct_report-0
4  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0

[5 rows x 36 columns]

In [21]:
# Select the first row of the categories dataframe
row = categories.head(1).squeeze()

# Use this row to extract a list of new column names for categories.
category_column_names = row.str.split(pat='-', n=1, expand=True)[0]
print(category_column_names)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [22]:
# rename the columns of `categories`
categories.columns = category_column_names
categories.head()

0    related    request    offer  ...    cold    other_weather    direct_report
0  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
1  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
2  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
3  related-1  request-1  offer-0  ...  cold-0  other_weather-0  direct_report-0
4  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0

[5 rows x 36 columns]

### 4. Convert category values to just numbers 0 or 1.
Iterate through the category columns in the preprocessed_dataset to keep only the last character of each string (the 1 or 0). 

For example, `related-0` becomes `0`, `related-1` becomes `1`. 

In addition, we convert the string to a numeric value.

In [23]:
for category in categories:
    # Set each value to be the last character of the string
    categories[category] = categories[category].str.split(pat='-', n=1, expand=True)[1]
    
    # Convert column from string to numeric
    categories[category] = categories[category].astype(int)
    
categories.head()

0  related  request  offer  ...  cold  other_weather  direct_report
0        1        0      0  ...     0              0              0
1        1        0      0  ...     0              0              0
2        1        0      0  ...     0              0              0
3        1        1      0  ...     0              0              0
4        1        0      0  ...     0              0              0

[5 rows x 36 columns]

In [24]:
# Check the distribution of all feature labels
categories.describe()

0           related       request  ...  other_weather  direct_report
count  26386.000000  26386.000000  ...   26386.000000   26386.000000
mean       0.775032      0.171038  ...       0.052263       0.193777
std        0.435692      0.376549  ...       0.222560       0.395264
min        0.000000      0.000000  ...       0.000000       0.000000
25%        1.000000      0.000000  ...       0.000000       0.000000
50%        1.000000      0.000000  ...       0.000000       0.000000
75%        1.000000      0.000000  ...       0.000000       0.000000
max        2.000000      1.000000  ...       1.000000       1.000000

[8 rows x 36 columns]

In [25]:
# Replace values of column 'related' that are 2 with 1
categories['related'] = np.where(categories['related']!=0,1,0)
categories.head()

0  related  request  offer  ...  cold  other_weather  direct_report
0        1        0      0  ...     0              0              0
1        1        0      0  ...     0              0              0
2        1        0      0  ...     0              0              0
3        1        1      0  ...     0              0              0
4        1        0      0  ...     0              0              0

[5 rows x 36 columns]

### 5. Replace `categories` column in `preprocessed_dataset` with new category columns.
- Drop the categories column from the preprocessed_dataset dataframe since it is no longer needed.
- Concatenate preprocessed_dataset and categories data frames.

In [26]:
# drop the original categories column from `df`
preprocessed_dataset = preprocessed_dataset.drop('categories', axis=1)

preprocessed_dataset.head()

   id  ...   genre
0   2  ...  direct
1   7  ...  direct
2   8  ...  direct
3   9  ...  direct
4  12  ...  direct

[5 rows x 4 columns]

In [27]:
# Concatenate the original dataframe with the new `categories` dataframe
preprocessed_dataset = pd.concat([preprocessed_dataset, categories], axis=1)
preprocessed_dataset.head()

   id  ... direct_report
0   2  ...             0
1   7  ...             0
2   8  ...             0
3   9  ...             0
4  12  ...             0

[5 rows x 40 columns]

### 6. Remove duplicates in the dataset (if any)

In [ ]:
# Check number of duplicates in preprocessed_dataset
duplicate_rows = preprocessed_dataset[preprocessed_dataset.duplicated()]
duplicate_rows.shape[0]

171

In [28]:
# Drop duplicates from preprocessed_dataset
preprocessed_dataset = preprocessed_dataset.drop_duplicates()

In [29]:
# Check number of duplicates after removal
duplicate_rows = preprocessed_dataset[preprocessed_dataset.duplicated()]
duplicate_rows.shape[0]

0

### 7. Save the clean dataset into an sqlite database.
We use pandas `to_sql` method combined with the SQLAlchemy library. 

We also import SQLAlchemy's `create_engine` to use it as a data store

In [35]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///../data/datasets.db')
preprocessed_dataset.to_sql('labelled_messages', engine, index=False)